

/* Секции */
section {
    background: rgba(255, 255, 255, 0.678); /* Полупрозрачный белый фон для секций */
    margin: 20px 0; /* Внешние отступы: 20 пикселей сверху и снизу, 0 слева и справа */
    padding: 30px; /* Внутренние отступы: 30 пикселей со всех сторон */
    border-radius: 12px; /* Закругляет углы секций радиусом 12 пикселей */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Добавляет тень к секциям: сдвиг по оси X 0, по оси Y 4 пикселя, размытие 10 пикселей, цвет с 15% непрозрачностью */
    transition: transform 0.3s; /* Плавный переход для эффекта трансформации за 0.3 секунды */
    max-width: 1200px; /* Максимальная ширина 600 пикселей */
    justify-content: center; /* Центрирует содержимое по горизонтали */
    margin: 15px auto; /* Отступы сверху и снизу, центровка по горизонтали */
    
}
.section p {
    /*font-size: 16px; /* Размер текста заголовка */
}

section:hover {
    transform: scale(1.00); /* Увеличивает секцию на 2% при наведении курсора (эффект «увеличения») */
}

/*Общее содержание*/
body {
    /*font-family: 'Arial', sans-serif; /* Шрифт текста на всей странице, сначала Arial, если недоступен — любой шрифт без засечек */
    /*line-height: 1.6; /* Высота строки — делает текст более читабельным за счёт увеличения межстрочного интервала */
    margin: 0; /* Убирает стандартные отступы вокруг страницы */
    padding: 0; /* Убирает стандартные внутренние отступы */
    background-color: #eeb0fa; /* Цвет фона страницы — светло-фиолетовый */
    color: #333; /* Основной цвет текста — тёмно-серый */
    
}

/**/
.home-button {
    position: fixed; /* Закрепляем элемент */
    bottom: 20px; /* Расстояние от нижнего края */
    right: 20px; /* Расстояние от правого края */

    display: inline-block; /* Делаем элемент блочным для управления размерами */
    padding: 10px 20px; /* Отступы внутри кнопки */
    background-color: #007bff; /* Цвет фона */
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Закругленные углы */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.home-button:hover {
    background-color: #ffffff; /* Цвет фона при наведении */
    color: #007bff;
}

