/* SVG Background */
#bg-wrap {
    position: fixed; /* Элемент будет оставаться на месте даже при прокрутке страницы */
    top: 0; /* Располагает элемент у самого верха окна */
    left: 0; /* Располагает элемент у самого левого края окна */
    width: 100%; /* Задаёт ширину элемента в 100% от ширины окна */
    height: 100%; /* Задаёт высоту элемента в 100% от высоты окна */
    z-index: -1000; /* Элемент находится за остальными элементами страницы */
    pointer-events: none; /* Элемент не взаимодействует с курсором мыши (клик, наведение) */
    /* Элемент плохо отображается на мобилках, нужно поправить-поправил*/
}