/*БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА */

.marquee {
    position: fixed; /* Фиксирует бегущую строку внизу экрана */
    bottom: 0; /* Привязывает к нижней части экрана */
    left: 0; /* Привязывает к левому краю экрана */
    right: 0; /* Привязывает к правому краю экрана */
    overflow: hidden; /* Скрывает содержимое, выходящее за пределы блока */
    background-color: #e74d3c00; /* Красный цвет фона */
    color: #ff00005e; /* Белый цвет текста */
    /*font-weight: bold; /* Жирный шрифт */
    height: 40px; /* Фиксированная высота */
    display: flex; /* Используется flex для выравнивания содержимого */
    align-items: center; /* Центрирует текст по вертикали */
    z-index: 1000; /* Обеспечивает, что строка будет поверх других элементов */
}

.marquee-content {
    display: inline-flex; /* Выравнивание текста по горизонтали */
    animation: marquee 40s linear infinite; /* Анимация */
    white-space: nowrap; /* Предотвращает перенос текста */
}

@keyframes marquee {
    0% { transform: translateX(100%); } /* Начальная позиция текста */
    100% { transform: translateX(-100%); } /* Конечная позиция текста */
}


/*БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА */



<!--БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА-->

<div class="marquee">
    <div class="marquee-content">
        <p>Специальные предложения Специальные предложения Специальные предложения Специальные предложения Специальные предложения</p>
        <p>Специальные предложения Специальные предложения Специальные предложения Специальные предложения Специальные предложения</p>
        
    </div>
</div> 

<!--БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА БЕГУЩАЯ СТРОКА--> 
