a {
    color: #5587bd; /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Плавный переход цвета при наведении */
}

a:hover {
    color: #0056b3; /* Цвет текста ссылки при наведении */
    /*text-decoration: underline; /* Подчеркивание при наведении */
}

i {
    color: #555; /* Цвет иконок */
    margin-right: 5px; /* Отступ справа от иконки */
    font-size: 1.2em; /* Размер иконки */
    vertical-align: middle; /* Вертикальное выравнивание иконки */
}
